<template>
  <v-container class="fill-height">
    <v-row justify="center" align="center">
      <v-col cols="12" md="8" lg="4" xl="3">
        <v-card class="px-sm-1 px-0 withbg mx-auto shadowCard" max-width="800">
          <v-card-title primary-title>
            <v-img src="@/assets/alcocer.png"></v-img>
          </v-card-title>

          <v-card-text>
            <div class="text-subtitle-1 text-medium-emphasis d-flex align-center justify-space-between">
              Usuario
            </div>
              
            <v-text-field
              v-model="email"
              label="usuario@schoolofenglish.com"
              filled
              dense
              required
              color="primary"
              single-line
              prepend-inner-icon="mdi-email-outline"
            ></v-text-field>

            <div class="text-subtitle-1 text-medium-emphasis d-flex align-center justify-space-between">
              Password

              <a
                class="text-caption text-decoration-none text-blue"
                href="#"
                rel="noopener noreferrer"
                target="_blank"
              >
                Forgot login password?</a>
            </div>
            <v-text-field
              v-model="password"
              label="*******"
              type="password"
              filled
              dense
              required
              color="primary"
              single-line
              :append-inner-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
              :type="showPassword ? 'text' : 'password'"
              @click:append="showPassword = !showPassword"
              @keyup.enter="validate()"
            ></v-text-field>
          </v-card-text>

          <v-card-actions>
            <v-btn
              tile
              type="submit"
              block
              color="primary"
              class="mt-4 btn-login text-capitalize"
              @click="validate()"
            >
              Iniciar sesión
            </v-btn>
          </v-card-actions>
          <v-card-text class="text-center">
            <a
              class="text-blue text-decoration-none"
              href="#"
              rel="noopener noreferrer"
              target="_blank"
            >
              Registrarme ahora <v-icon icon="mdi-chevron-right"></v-icon>
            </a>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
  export default {
    data(){
      return{
        password:'',
        email:'',
        showPassword: false,
      }
    },

    methods:{
      validate(){
        this.$router.push({name: 'Categorias'})
      } 
    }
  }
</script>
<style>
  .v-application--is-ltr .v-list-item__icon:first-child{
    margin-right: 8px !important;
  }

  .v-application--is-ltr .v-list-item__action:last-of-type:not(:only-child), .v-application--is-ltr .v-list-item__avatar:last-of-type:not(:only-child), .v-application--is-ltr .v-list-item__icon:last-of-type:not(:only-child) {
    margin-left: 6px !important;
  }


  .v-list-group .v-list-group__header .v-list-item__icon.v-list-group__header__append-icon {
    align-self: center;
    margin: 0;
    min-width: 0px !important;
    justify-content: flex-end;
  }

  .shadowCard{
    border-radius: 8px !important; 
    box-shadow: 0 20px 27px 0 rgba(0,0,0,0.2)  !important;
  }

  .text-muted{
    color: rgb(var(--v-theme-muted)) !important;
  }

  body {
    font-family: 'Plus Jakarta Sansa', sans-serif !important;
  }

  .shadowCard{
    border-radius: 8px !important; 
    box-shadow: 0 20px 27px 0 rgba(0,0,0,0.2)  !important;
  }

  .btn-login{
    background: rgb(0,187,214);
    background: linear-gradient(90deg, rgba(0,187,214,1) 0%, rgba(9,0,43,1) 100%);
  }
</style>